<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="printerWithPrefix"
          class="edu.school21.classes.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErr"/>
        <property name="prefix" value="Prefix"/>
    </bean>

    <bean id="printerWithDate"
          class="edu.school21.classes.PrinterWithDateTimeImpl">
        <constructor-arg ref="rendererStandard"/>
    </bean>

    <bean id="rendererStandard"
          class="edu.school21.classes.RendererStandardImpl">
        <constructor-arg ref="preprocessorToUpper"/>
    </bean>

    <bean id="rendererErr"
          class="edu.school21.classes.RendererErrImpl">
        <constructor-arg ref="preprocessorToLower"/>
    </bean>

    <bean id="preprocessorToUpper"
          class="edu.school21.classes.PreProcessorToUpperImpl"></bean>

    <bean id="preprocessorToLower"
          class="edu.school21.classes.PreProcessorToLowerImpl"></bean>


</beans>